    <div class="row section">
      <div class="desktop-8 mobile-3 section">
      <a href="/collections/fall-seasonal-favorites"> 
        <img src="https://cdn.shopify.com/s/files/1/0767/5207/files/keiren.jpg">
        </a>
      </div>
      <div class="desktop-4 mobile-3 section">
          <a class="video fancybox.iframe" href="https://www.youtube.com/embed/KUwGAKtchR0??autoplay=1&controls=0&showinfo=0&rel=0&modestbranding=1&nologo=1&autoplay=1">
            <img src="https://cdn.shopify.com/s/files/1/0767/5207/files/flanaery.jpg">
          </a>
      </div>
    </div>

    {% assign grid = 0 %}
    {% if settings.promo1 %}{% assign grid = grid | plus: 1 %}{% endif %}
    {% if settings.promo2 %}{% assign grid = grid | plus: 1 %}{% endif %}
    {% if settings.promo3 %}{% assign grid = grid | plus: 1 %}{% endif %} 
    {% if grid > 0 %} 
    <section id="homepage-promo" class="no-fouc">   
      <article id="promo-images" class="row">
        {% assign promo = 'promo1' %}
        {% if settings.promo1 %}        
        <div class="pimg homepage-promo desktop-{{ 12 | divided_by: grid }} desktop-{{ 6 | divided_by: grid }} mobile-3">
          {% include 'grid-images' %}
        </div>
        {% endif %}
        {% assign promo = 'promo2' %}
        {% if settings.promo2 %}  
        <div class="pimg homepage-promo desktop-{{ 12 | divided_by: grid }} desktop-{{ 6 | divided_by: grid }} mobile-3">
          {% include 'grid-images' %}
        </div>
        {% endif %}        
        {% assign promo = 'promo3' %}
        {% if settings.promo3 %}  
        <div class="pimg homepage-promo desktop-{{ 12 | divided_by: grid }} desktop-{{ 6 | divided_by: grid }} mobile-3">
          {% include 'grid-images' %}
        </div>
        {% endif %}
      </article>
      {% endif %}
    </section>